body {
	background-color: lightblue; 
}

.img-circle {
	border-radius: 20%;
	border:10px solid #000000;
	height: 80%;
}

.background {
	/*background: url(klematis.jpg) repeat;*/
	background-color: black;
  	border: 2px solid black;
  	width:50%;
}

p {
	color: white;
	font-weight: bold;
	font-size: 18px;
}

h2 {
	color: white;
	padding-left: 140px;
}
.transbox {
	margin: 20px;
	width: 100%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.row-inner {
	background: rgba(0,0,0,.5);
	height: 80%;
	border-top: 50px;
	padding-top: 20px;
}

.carousel-content {
    color: rgba(0,0,0,.5);
    display:flex;
    align-items:center;
    padding-bottom: 0px;
}

#text-carousel {
  color: rgba(0,0,0,.5);
  width: 90%;
  height: 380px;
  padding-top: 50px;
  border: 1px solid black;
}
